<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="dicoding:email" content="dikasatriya26@gmail.com">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="shortcut icon" href="#">
  <title>YoungHealth</title>
</head>
<body>
  <a tabindex="0" href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header class="header">
    <app-bar></app-bar>
    <meta name="dicoding:email" content="dikasatriya26@gmail.com">
  </header>
  
  <main tabindex="0" id="maincontent">
  </main>
  
  <footer class="footer">
      <div class="footer_container">
        <div class="fouter_top">
          <div class="brand-info">
            <h2 class="brand-logo">YoungHealth</h2>
              <p class="brand-desc"></p>
                <span class="copyright"></span>
          </div>
        </div>
      </div>
  </footer>

  <script src="https://accounts.google.com/gsi/client" async defer></script>
</body>
</html>