/* ========================== */

.legen {
  position: relative;
  width: 25%;
}

.imagejum {
  display: block;
  border-radius: 45%;
  width: auto;
  height: auto;
}
.overlay {
  position: absolute;
  border-radius: 30%;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #262625;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.legen:hover .overlay {
  bottom: 0;
  height: 100%;
}

.textleg {
  white-space: nowrap; 
  
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* ======================================= */

#topleft {
  border-radius: 5% 45% ;
}
footer {
  background-color: #595958;
  font-style: italic;
}
#socmed {
  background-color: #262625;
}
.carduxg {
  border-radius: 25%;
}


/* =========================================== */



.underdev{
background: rgba(38, 38, 37, 0.6)
}

.fotobel {
  position: relative;
  
  display: block;
}

popup{
  border-color: #262625;
}

.subbtn {
  background-color: #595958;
  color: #262625;
  border-radius: 25%;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}